.input{
    background: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: none;
    height: 40px;
    font-size: 12px;

    &:focus{
        outline:none;
    }

    &--outline{
        border: 1px solid #b5b5b5;
    }
}

.fieldset{

    &--border-bottom{
        border-bottom:1px solid #f5f5f5;
    }

    &__label{
        text-indent:15px;
        margin:0;
        padding:0;
        line-height:auto;
        text-transform: uppercase;
    }

    &__input{

    }
}

.label-margin-right {
    margin-right: 5px;
}

.label-margin-horizontal {
    margin-left: 5px;
    margin-right: 5px;
}
