.custom-select {
    background-color: #F0F1FF;
    border: 1px solid rgba(7, 27, 57, 0.4);
    border-radius: 6px;
    color: #071B39;
}
.input{
    background: #fff;
    border-radius: 20px;
    box-shadow: none;
    font-size: 12px;

    &:focus{
        outline:none;
    }

    &--outline{
        border: 1px solid rgba(7, 27, 57, 0.4);
        border-radius: 6px;
        width:100%;
        background-color: #F0F1FF;

        height: 38px;
        line-height: 38px;
        input {
            height: 100%;
            width: 100%;
            text-indent: 5px;
            &::placeholder {
                color: #071B39;
                opacity: 50%;
            }
            font-size: 15px;
            background-color: transparent;
        }
    }

    &--mini{
        width: 140px;
    }

    &--fit-cell {
        width: 95%
    }

    &::placeholder {
        color: #3f3f3f;
    }

    &--quick-search {
        font-size: 14px;
        opacity: 1;
        color: #585858;
        font-weight: bold;
        width: 100%;
        &::placeholder {
            font-style: italic;
            color: #3f3f3f;
            opacity: 0.5;
        }
    }

    &--table-filter {
        opacity: 1;
    }

    &--default{
        background-color:#efefef!important;
        padding-left:20px;
        border-radius: 6px;
    }
}

input.input--default{
    background-color:#efefef!important;
    padding-left:20px!important;

    &::placeholder{
        color:#3f3f3f;
        opacity: 0.5;
    }
}

.fieldset{

    &--border-bottom{
        border-bottom:1px solid #f5f5f5;
    }

    &__label{
        margin:0;
        padding:0;
        line-height:auto;
        text-transform: uppercase;
    }

    &__input{

    }
}

.form-group{
    margin-bottom:0;
}

.label-margin-right {
    margin-right: 5px;
}

.label-margin-horizontal {
    margin-left: 5px;
    margin-right: 5px;
}

.quick-search-input {
    padding-left: 20px;
    padding-right: 20px;
    .popover-bt {
        min-width: 90%;
    }
    .popover-inner {
        min-width: 50%;
        margin-top: 40px;
    }
}

.quick-search-popover-container {
    position: absolute;
    width: 70%;
    margin-left: 5px;
}

.tag {
    border-radius: 6px;
    height: 22px;
    line-height: 22px;
    color: white;
    background-color: $brand-primary;
    padding: 0 10px 0 15px;
    font-size: 13px;
    font-weight: bold;
    &--icon {
        color: white;
        font-size:1.25rem;
    }
    >span {
        font-weight: bold;
    }
}

.quick-search-container {
    align-items: center;
    width: 50%;
    align-self: center;
}

.quick-search-label {
    float: left;
}

.quick-search-loader {
    position: absolute;
    right: 26%;
    margin-top: 48px;
}

//AUTOFILL STYLES

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    background-color:#efefef;
    transition: background-color 5000s ease-in-out 0s;
}

