.header{
    height:60px;
    .header__link{
        height:60px;
        line-height:60px;
        color:#404040;
        font-size:$font-small;
        padding:0 20px;
    }
}

.nav__links{
    height:100%;

    &__link{
        padding-left:15px;
        padding-right:15px;
        color:#212529;

        &--icon{
            padding-top: 5px;
            padding-left: 10px;
        }
    }
}