.header{
    height:60px;
    .header__link{
        height:60px;
        line-height:60px;
        color:#404040;
        font-size:$font-small;
        padding:0 20px;
    }
}

.nav__links{
    height:100%;

    &__link{
        padding-top:5px;
        padding-left:15px;
        padding-right:15px;
        color:#212529;
        text-decoration: none;
        text-decoration-color: $brand-primary!important;
        >span {
            font-size: 20px;
            font-weight: bold;
            color: $brand-primary;
        }

        &--icon{
            padding-top: 5px;
            padding-left: 10px;
        }

        &--separator {
            border-right: 1px solid black;
        }
    }
}

.brand-image {
    margin-top: 6px;
}

.error-alert {
    font-weight: 400;
    .fa {
        color: #E15555;
        font-size: 30px;
    }
 background-color: #FFD2D2;
    color: $brand-navy;
    border:2px solid #E15555;
    box-shadow: 0 12px 17px 2px rgba(0, 0, 0, 0.04), 0 5px 22px 4px rgba(0, 0, 0, 0.03), 0 7px 8px 0 rgba(0, 0, 0, 0.05);
    border-radius: 6px;
}
.nav{
    background:#fff;
}
