h1,h2,h3,h4,h5,h6{
    font-family:Arial, sans-serif;
    font-weight:bold!important;

}

.text-small{
    font-size:13px!important;
    a {
        font-size:13px!important;
    }
}

.text-lighter {
    opacity: 70%;
    color: #071B39;
}

.text-muted{
    color:#f5f5f5;
}

.text-dark{
    color:#585858!important;
}

p{
    color: #22354a;
    opacity: 0.85;
}

.large-para{
    font-size:1.25rem;
}

.bold-link{
    font-weight:bold!important;
}

a{
    text-decoration: underline;
    color: #22354a;
}

