h1,h2,h3,h4,h5,h6{
    font-family:Arial, sans-serif;
    font-weight:bold!important;

}
.empty-search-text {
    color: $brand-navy;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    opacity: 0.8;
}
.text-green {
    color: $success !important;
}
.text-amber {
    color: #EFCA08 !important;
}
.text-red {
    color: #E15555 !important;
}
.text-small{
    font-size:13px!important;
    a {
        font-size:13px!important;
    }
}
strong {
    font-weight: bold !important;
}
a {
    font-weight: 400;
}
.text-lighter {
    opacity: 70%;
    color: $brand-navy;
}

.text-muted{
    color:#f5f5f5;
}

.text-dark{
    color:#585858!important;
}

p{
    color: #22354a;
    opacity: 0.85;
}

.large-para{
    font-size:1.25rem;
}

.bold-link{
    font-weight:bold!important;
}

a{
    text-decoration: underline;
    color: #22354a;
}

