@import "variables";
@import "3rdParty/index";
@import "components/index";
@import "flexbox/index";
@import "project/index";


.faint {
    color: $text-muted;
    font-size: 0.8em;
}

.faint-lg {
    color: $text-muted;
    font-size: 1.25em;
}

.flag-example {
    padding: 10px;
    margin-top: -10px;
    background-color: #f1f1f1
}

.feature-value-container {
    font-size: 0.8em;
    background: #23364a;
    color: #bababa;
    padding: 5px 10px;
    border-radius: 20px;
    font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

    .feature-value {
        color: #6896ba;
    }

    &.string {
        .quot {
            color: #6a8759;
        }

        .feature-value {
            color: #6a8759;
        }
    }
}

.clickable {
    cursor: pointer;
}

body {
    color: #071B39;
    background: #fff;
    font-family: $font-family;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: $link-color;
    font-size: 15px;
    letter-spacing: -0.1px;
    line-height: 22px;
}

h1, h2, h3 {
    font-weight: 300;
}
h4 {
    color: #071B39;
    font-size: 24px;
    line-height: 32px;

}

label {
    color: #071B39;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    text-align: left;
}

input:disabled {
    opacity: 0.4;
}

.full-width {
    width: 100%;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.inline-block {
    display: inline-block;
}

//.app-container {
//  margin-top: 50px;
//}

hr {
    color: #f1f1f1;
}

.header-icon {
    margin-left: 10px;
    font-size: 1.5em;
}

.footer-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;

    a {
        color: $brand-primary;
    }

    padding: 10px;
    background-color: #2b2d2f;
    text-align: center;

}

.table-input {
    padding: 0 0.25rem;
    border-radius: 5px;
}

.custom-json-pretty {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.section--feature{
    display:none;
}

.nav__button__icon{
    display: none;
}

@media screen and (max-width: $mobile-landscape) {
    .nav {
        padding:10px;

        &__button__text{
            display:none;
        }
    }

    .nav__button__icon{
        display: block;
    }

    button{
        &.nav__button{
            padding:10px;
        }
    }

    .feature-list, .hero__image{
        display: none;

    }

    .section--feature{
        display:block;

        li{
            margin-bottom:5px;
        }

        .feature-list{
            display: block;
        }
    }
}
